<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ path '/bundle.css' }}">
    <title>Form Sample</title>
</head>

<body>
    <noscript>
        <style type="text/css">
            body #vue-container {
                opacity: 1!important;
            }

            body .lds-ring {
                display: none!important;
            }
        </style>
    </noscript>
    <div style="display: none">
        <?xml version="1.0" encoding="utf-8"?>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>
    </div>
    <div class="lds-ring page"><div></div><div></div><div></div><div></div></div>
    <div id="vue-container" key="main_container_key">
        {{{ yield }}}
    </div>
    <script src="{{ path '/bundle.js' }}"></script>
</body>

</html>